@import "../../../sass/utilities/variables";

.card-project-name {
  margin-bottom: 0.75rem !important;
}

.project-desc {
  font-size: 1.1rem;
}

.small-font {
  font-size: 1.1rem;
}

.normal-font-size {
  font-size: 1.25rem;
}
