@import "../../../sass/utilities/variables";

.divider {
  border: 0;
  height: 0.25rem;
  background-color: $darkGray;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 2.5rem;
}

.equipment-notes {
  width: 100%;
  background-color: $white;
  border-radius: 0.5rem;
  padding: 1rem;
}

.notes {
  margin-bottom: 2.5rem;
}

.equipment-id {
  color: $unisRed;
  font-family: "Courier New", Courier, monospace;
}

.status-indicator {
  display: inline-block;
  width: auto;
  background-color: $darkGray;
  color: $white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;

  &.status-indicator--active {
    background-color: $green;
  }
}
