@import "../../../sass/utilities/variables";

.equipment-search-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;

  .row.mb-3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 !important;
    width: 100%;

    .col-md-4 {
      margin: 0 !important;
      width: auto !important;
      padding: 0;

      .equipment-search-btn {
        border-radius: 0 !important;
        width: 76vw;
        border-top-left-radius: 0.25rem !important;
        border-bottom-left-radius: 0.25rem !important;
      }

      .equipment-manufacturer-dropdown,
      .equipment-tags-dropdown {
        border-radius: 0 !important;
        border-right: 1px solid $white !important;
      }
    }

    .search-btn {
      width: auto;
      border-radius: 0 !important;
      border-top-right-radius: 0.25rem !important;
      border-bottom-right-radius: 0.25rem !important;
    }
  }
}

.equipment-table {
  display: inline-block;
  width: 100%;
  margin-bottom: 2.5rem;
  max-height: 65vh;
  overflow-y: auto;
}

.new-device-form > div.mb-3 > .form-control,
.new-device-form > div.mb-3 > .form-control:focus,
.new-device-form > div.mb-3 > .form-select {
  background-color: #f1f1f1;
}
