@import "../../../sass/utilities/variables";

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000;
}

body {
  overflow: auto;
}

body.no-scroll {
  overflow: hidden;
}
